html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif !important;
    background: #000 !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0px;
}

.whitespace {
    margin: 5rem;
}

.arrowspace {
    margin: 10rem;
}

.project-space {
    margin: 3rem;
}

section {
    padding: 10rem 0;
}

p {
    font-size: 1.7rem;
    font-weight: 300;
    margin: auto;
}
a {
    text-decoration: none !important;
    color: #fff !important;
    transition: ease 0.4s;
}

a:hover {
    color: #feceab !important;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.7rem;
    display: inline-block;
    margin: 1rem;
}

.hr {
    border-color: #fff;
    opacity: 0.5;
}

/* ********************
Icons
******************** */
.link,
.github2 {
    font-size: 2.5rem;
    padding: 1rem;
    color: #feceab !important;
}
/* ********************
Intro
******************** */

#brito {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.621),
            rgba(0, 0, 0, 0.621)
        ),
        url(./images/hero.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-lead {
    font-size: 5rem;
}

.intro-p {
    font-size: 2rem;
}

.intro-lead,
.intro-p {
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 300;
}

.about-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ********************
Headers & text
******************** */
.sub-heading {
    font-size: 9.5rem;
    font-weight: 600;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.small-heading {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.mini-heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}

/* ********************
Projects
******************** */
.project-img {
    width: 100%;
    border-radius: 0.5rem;
}

.description {
    color: #000;
    font-weight: 400;
}

.p-card {
    background: #feceab;
    border-radius: 0.5rem;
    padding: 2rem;
}

.stack {
    margin-top: 1rem;
}

/* ********************
Skills
******************** */
.skills {
    font-size: 2rem;
    font-weight: 600;
    transition: ease 0.4s;
}

.skills:hover {
    color: #feceab;
    cursor: pointer;
}

/* ********************
Connect
******************** */
.connect {
    font-size: 3rem;
    font-weight: 600;
    transition: ease 0.4s;
}

.connect-list {
    margin: auto;
}

/* ********************
Footer
******************** */
.footer {
    margin: 4rem 0;
}

.footer-text p {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1rem;
}

/* ********************
Media Queries
******************** */

/* Iphone 5s  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .connect {
        display: block;
        text-align: center;
    }

    .intro {
        width: 100%;
    }

    .intro-p {
        font-size: 1.3rem;
    }
}

/* Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .connect {
        display: block;
        text-align: center;
    }

    .intro {
        width: 100%;
    }

    .intro-p {
        font-size: 1.3rem;
    }
}
/* Iphone XR */

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .connect {
        display: block;
        text-align: center;
    }

    .intro {
        width: 100%;
    }

    .intro-p {
        font-size: 1.3rem;
        color: #ff1122;
    }
}
