html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif !important;
    background: #181818 !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0px;
}

.whitespace {
    margin: 5rem;
}

section {
    padding: 10rem 0;
}

p {
    font-size: 1.7rem;
    font-weight: 300;
    margin: auto;
}

.number {
    color: red;
}

/* ********************
Intro
******************** */

#brito {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.621),
            rgba(0, 0, 0, 0.621)
        ),
        url(./images/britojs2.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro h3 {
    font-size: 5rem;
}

.intro p {
    font-size: 2rem;
}

.intro h3,
.intro p {
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 300;
}

/* ********************
Headers & text
******************** */
.sub-heading {
    font-size: 9.5rem;
    font-weight: 600;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
